.btn-share {
	margin: 20px 0;
}

.well {
	margin-bottom: 20px;
}

code {
	white-space: pre-wrap;
}

.justify_space_between {
	justify-content: space-between !important;
}

.mt_2em {
	margin-top: 2rem !important;
}